.nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}
.left{
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    
}
.top input, .top label{
    display: none;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left img{
    width: 100%;
}

.right{
    display: flex;
    align-items: center;
}

.top .menuIcon{
    display: none;
}

.menu{
    display: flex;
    margin-top: 17px;
}
.menu li{
    margin: 0 10px;
    font-weight: 600;
    display: inline-block;
}
.menu li .link{
    color: #e5f9f1;
}
.menu li::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #e5f9f1;
    transition: .3s;
    margin: auto;
}

.menu li:hover::after{
    width: 100%;
}

.search, .searchForSinglePost{
    cursor: pointer;
    margin: 0 15px;
}
.search{
    color:#e5f9f1;
}

.search .inputArea{
    position: absolute;
    z-index: 3;
    height: 130px;
    top: 0px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:initial;
}
.search{
    display: flex;
    align-items: center;
}

.searchForIpadArea{
    display: none;
}

.inputArea input{
    width: 80%;
    font-size: 25px;
    border: none;
    outline: none;
    display: block;
}
.inputArea button{
    font-size: 17px;
    border: none;
    outline: none;
    background: none;
    color: #47c9e5;
    cursor: pointer;
}
.inputArea button:nth-child(3){
    transform: translateX(20px);
    font-size: 20px;
    color: #bbb;
    cursor: pointer;
}



.socialmedia > :first-child, .socialmediaForSinglePost > :first-child{
    margin-right: 15px;
}

.socialmedia i{
    color:#e5f9f1;
}

.singlePost li{
    color: #888;
}

.searchForSinglePost, .socialmediaForSinglePost i{
    color: #888;
}

.menu .singlePost li::after{
    
    background: #555;
}

.menuBtnForSinglePost{
    background: #555;
}
.singlePost{
    color: #888;
}
@media only screen and (max-width:1320px){
    .nav{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media only screen and (max-width:1024px){
    .nav{
        display: flex;
        padding: 0;
    }
    .left{
        width: 100px;
        height: 80px;
        display: flex;
        align-items: center;
        margin-left: 80px;
    }
    .top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top label{
        display: block;
    }
    .top input:checked ~ .menuContainer .right{
        margin-top: 0;
    
    }
    .menuContainer{
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        overflow: hidden;
        z-index: 3;
    }
    nav.right{
        align-items: flex-start;
        flex-direction: column;
        background: #262626;
        padding-right: 140px;
        padding-left: 70px;
        height: 480px;
        /* transform: translateY(-500px); */
        transition: .5s;
        margin-top: -480px;
        border:1px solid yellow;
    }


    .right ul.menu{
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        padding: 20px 0 0 0px;
        width: 100%;
    }
    ul.menu li{
        padding: 15px 0 15px 0px;
        width: 100%;
        text-align: start;
        border-bottom: 1px solid #000;
    }
    .menu li::after{
        display: none;
    }
    ul.menu .link{
        color: #888;
    }
    ul.menu li+li{
        border-top: 1px solid #444;
    }
    ul.menu li:nth-child(6){
        border-bottom: none;
        padding-bottom: 50px;
    }
    .search{
        display: flex;
        align-items: flex-start;
    }
    
    
    .searchForIpadArea{
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: -8px;
        padding-bottom: 20px;      
    }
    .searchForIpadArea input{
        font-size: 25px;
        width: 700px;
        background: none;
        border: none;
        outline: none;
        color: #888;
        display: block;
    }
    .searchForIpad{
        font-size: 35px;
    }
    .search .searchForComp{
        display: none;
    }
    .socialmedia{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        display: flex;
        border-top: 1px solid #444;
    }
    .socialmediaLink{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 70px;
    }
    .socialmediaLink:nth-child(1){
        bottom: 0;
        left: 0;
        width: 50%;
        border-right: 1px solid #444;
    }
    .socialmediaLink:nth-child(2){
        bottom: 0;
        right: 0;
        width: 50%;
    }
    .search .searchForSinglePost{
        display: none;
    }
    
}

@media only screen and (max-width:767px){
    .searchForIpadArea{
        width: 550px;
    }
    .searchForIpadArea input{
        width: 60%;
    }
}
@media only screen and (max-width:540px) {
   
    .searchForIpadArea input{
        width: 40%;
        border: 1px solid #f00;
    }
}